# {{ ansible_managed }}

[Unit]
Description=Puma HTTP Server
After=network.target

# Uncomment for socket activation (see below)
# Requires=puma.socket

[Service]
Type=simple

# If your Puma process locks up, systemd's watchdog will restart it within seconds.
# WatchdogSec=10
WorkingDirectory={{ app.dest }}
Environment=RAILS_ENV=production
ExecStart=/usr/local/bin/bundle exec puma -C {{ app.dest }}/config/puma.rb
Restart=always

[Install]
WantedBy=multi-user.target
